<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=t(".incoming_comment")%></p><p> <%= @comment.commenter %>!</p>
    <p><%= t(".body_comment")%></p><p><%= @comment.body%></p>
    <p><%= link_to t(".back_to_current_post"),post_url(id: @comment.post_id)%></p>
  </body>
</html>