<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for([@post, @post.comments.build],remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
</div>
</div>