<h2>List Post</h2>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Text</th>
      <th>Total Comments</th>
    </tr>
    <% @posts.each{|a|%>
      <tr>
        <td>
          <%= current_user.email%>
        </td>
        <td>
          <%= a.title%>
        </td>
        <td>
          <%= a.text%>
        </td>
        <td>
          <%= a.comments.count%>
        </td>
        <td>
          <%= link_to 'Show', a %>
        </td>
        <td>
          <%= link_to 'Edit', edit_post_path(a) %>
        </td>
        <td>
          <%= link_to 'Delete', a, method: :delete,data: {confirm: "Are u sure ?"}%>
        </td>
      </tr>
    <%}%>
  </table>
  <div class="pull-right">
    <%= will_paginate%>
  </div>
  <div class="pull-left">
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>