<h2><%= t ".title" %></h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
      <th><%= t ".poster"%></th>
      <th><%= t ".title_post"%></th>
      <th><%= t ".text" %></th>
      <th><%= t ".total_comments" %></th>
      <th colspan="3"><%= t :action%></th>
    </tr>
    <% @posts.each{|a|%>
      <tr>
        <td>
          <%= current_user.email%>
        </td>
        <td>
          <%= a.title%>
        </td>
        <td>
          <%= a.text%>
        </td>
        <td>
          <%= a.comments.count%>
        </td>
        <td>
          <%= link_to t(:show), a %>
        </td>
        <td>
          <%= link_to t(:edit), edit_post_path(a) %>
        </td>
        <td>
          <%= link_to t(:delete), a, method: :delete,data: {confirm: "Are you sure ?"}%>
        </td>
      </tr>
    <%}%>
  </table>
  <div class="pull-right">
    <%= will_paginate%>
  </div>
  <div class="pull-left">
    <%= link_to t(:new_post,scope: [:posts,:new]), new_post_path %>
  </div>
</div>