<h2>List Post</h2>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Text</th>
      <th>Total Comments</th>
    </tr>
    <% @posts.each{|a|%>
      <tr>
        <td>
          <%= current_user.email%>
        </td>
        <td>
          <%= a.title%>
        </td>
        <td>
          <%= a.text%>
        </td>
        <td>
          <%= a.Comments.count%>
        </td>
        <td>
          <%= link_to 'Show', a %>
        </td>
        <td>
          <%= link_to 'Edit', a %>
        </td>
        <td>
          <%= link_to 'Delete', a, method: :delete,data: {confirm: "Are u sure ?"}%>
        </td>
      </tr>
    <%}%>
  </table>
<%= will_paginate%>
</div>
<%= link_to 'New Article', new_post_path %></br>

