<h2><%=t ".title",email_user: current_user.email%></h2>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <tr>
    <th><%= t :title_post%></th>
    <th><%= t :text %></th>
  </tr>
  <tr>
    <td><%= @post.title %></td>
    <td><%= @post.text %></td>
  </tr>
</table>
</div>
<h2><%= t :comments %></h2>
<div class="table-responsive" id="list-comments">
  <table class="table table-bordered table-hover " >
    <tr>
      <th><%= t :commenter,scope:[:activerecord,:models,:attributes,:comment]%></th>
      <th><%= t :body,scope:[:activerecord,:models,:attributes,:comment]%></th>
      <th colspan="2"><%= t :action%></th>
    </tr>
    <%= render @comments %>
  </table>
  <div class="pull-right">
    <%= will_paginate @comments%>
  </div>
</div>
<div class="add-comment">
  <h2><%= t :add_comment %></h2>
  <%= render 'comments/comment_form'%>
</div>
<%= link_to t(:title, scope:[:posts,:edit]), edit_post_path(@post) %> |
<%= link_to t(:back), posts_path %>