<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <tr>
    <td><%= @post.title %></td>
    <td><%= @post.text %></td>
  </tr>
</table>
<h2>Comments</h2>
<%= render @post.comments.order(created_at: :desc) %>
<%= will_paginate%>
<h2>Add a comment:</h2>
<%= render 'comments/comment_form'%>

<%= link_to 'Edit Article', edit_post_path(@post) %> |
<%= link_to 'Back to Articles', posts_path %>