<footer class="footer">
  <small>
    The <a href="#"><%= t :rails%></a>
    by <a href="#"><%= t :author%></a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to t(:about),"#"%>
      </li>
      <li>
        <%= link_to t(:contact), "#" %>
      </li>
      <li>
        <a href="http://news.railstutorial.org"><%=t :news %></a>
      </li>
    </ul>
  </nav>
</footer>